EAGLEVIEW_CLIENT_ID=your_client_id
EAGLEVIEW_CLIENT_SECRET=your_client_secret
EAGLEVIEW_TOKEN_URL=https://apicenter.eagleview.com/oauth2/v1/token
EAGLEVIEW_BASE_URL=https://sandbox.apis.eagleview.com
